.app {
    &.dark {
        --bg-color: #0e0e75;
        --invert-bg-color: #d7d7df;

        --primary-color: #049604;
        --secondary-color: #04ff04;
        --invert-primary-color: #041f96;
        --invert-secondary-color: #0454ff;
    }
}