.app_dark_theme {
    --bg-color: #0e0e75;
    --invert-bg-color: #d7d7df;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --invert-primary-color: #0454ff;
    --invert-secondary-color: #041f96;
}
